@use "../base/colors" as colors;
@use "../base/mixins" as mixin;
@use "../base/variables" as variable;

h2 {
  text-align: center;
  font-size: 3.2rem;
}

.nineBox-Matrix {
  padding: 24px 0;
  width: 100%;

  .tab-content-wrapper {
    width: 100%;
    background-color: colors.$bcg-color-light-grey;
    display: flex;
    justify-content: center;

    .tab-content-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      margin: 0;
    }

    .list-wrap {
      background-color: rgba(74, 97, 111, 0.2);
      padding: 50px 10px 10px;
    }

    .list-level-wrapper {
      background-color: colors.$level-bcg-color;
      padding: 30px 70px;

      @include mixin.md {
        justify-content: space-between;
        padding: 30px 200px;
      }
    }

    .tab-view-li {
      font-weight: map-get(variable.$font-weight, small);
      line-height: 24px;
      text-align: center;
      text-decoration: none;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      border: 2px solid colors.$light-grey;
      border-radius: 5px;
      color: colors.$white;
      margin-right: 10px;
      padding: 7px;
      padding: 10px;
      cursor: pointer;

      @include mixin.xs {
        padding: 16px;
      }

      &:hover {
        color: colors.$blue;
        border-color: colors.$blue;

        p {
          color: colors.$blue;
        }
      }
    }

    .highlight {
      color: colors.$blue;
      border-color: colors.$blue;

      p {
        color: colors.$blue;
      }
    }

    .p-tab-tittle {
      margin: 0;
      font-weight: map-get(variable.$font-weight, bold);
      font-size: 0.8rem;
      cursor: pointer;

      @include mixin.xs {
        font-size: 1.2rem;
      }

      @include mixin.sm {
        font-size: 1.6rem;
      }
    }

    .p-disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    .p-inactive {
      border: 2px solid colors.$light-grey;
      pointer-events: auto;
    }
  }

  .panel-tab {
    background-color: colors.$bcg-color-light-grey;
    padding: 50px 16px 16px;
    backdrop-filter: blur(10px);
  }

  .panel-tab-wrap {
    background-color: colors.$bcg-color-dark-grey;
    display: flex;
    flex-direction: column;

    .tab-content-wrapper {
      background-color: transparent;
    }

    .level-wrap {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
      }
    }

    .panels-skills {
      padding: 0 16px 16px;
      display: none;
      flex-direction: column;

      &.active {
        display: flex;
      }

      .input-wrap {
        color: colors.$white;
        border: 1px dashed colors.$blue;
        border-radius: 5px;
        padding: 8px;
        margin: 5px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .checkbox-wrap {
        width: 22px;
        height: 22px;
        border: 2px solid colors.$active-checkbox-color;
        border-radius: 3px;
        display: flex;

        &:hover {
          border: 2px solid colors.$blue;
        }

        &.active-box {
          width: 24px;
          height: 24px;
          border: 4px solid colors.$active-checkbox-color;
          border-radius: 5px;
        }
      }

      input {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 2px;
      }

      .p-checkbox {
        margin-left: 7px;
        line-height: 24px;
        font-size: 1.6rem;

        &.active {
          text-decoration: line-through;
          color: colors.$blue;
        }
      }
    }

    .btn-panel {
      margin-top: 5px;
      align-self: flex-end;
      margin-right: 16px;
      margin-bottom: 16px;
      position: relative;
    }

    .btn-panel:hover {
      &::before {
        content: "Unlocks/locks next level even if all skills are not checked";
        position: absolute;
        bottom: 115%;
        left: 50%;
        transform: translateX(-50%);
        background-color: colors.$info-box-bcg-color;
        font-size: 1.4rem;
        padding: 5px 15px;
        width: 110%;
        border-radius: 5px;
        line-height: 20px;
        text-align: left;
      }

      &::after {
        content: " ";
        border-top: 5px solid colors.$info-box-bcg-color;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 0;
        position: absolute;
        bottom: 105%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
