$white: #fff;
$black: #272932;
$light-grey: #e7ecef;
$blue: #4587e1;
$input-color: #e7ecef;
$placeholder-color: #596a7f;
$border-color: rgba(123, 160, 189, 0.2);
$data-card-color: rgba(231, 236, 239, 0.1);
$red: rgba(255, 0, 0, 1);
$light-blue: #a6d5fa;
$grey: #68727b;
$box-shadow-color: grey;
$delete-button-color: rgba(255, 0, 0, 0.4);
$edit-button-color: rgba(10, 127, 183, 0.4);
$hover-element-color: #464954;
$light-button: rgba(231, 236, 239, 0.1);
$light-background: rgba(231, 236, 239, 0.2);
$button-color: #2196f3;
$button-hover-color: #0d89ec;
$bcg-color-light-grey: rgba(231, 236, 239, 0.2);
$bcg-color-dark-grey: rgba(39, 41, 50, 0.8);
$info-box-bcg-color: #464954;
$active-checkbox-color: #aecce4;
$level-bcg-color: #6d7f97;
$mobile-sticky-header-background: rgba(39, 41, 50, 0.8);
$wrapper-chart: rgba(172, 213, 236, 0.2);
$wrapper-chart-background: rgba(0, 0, 0, 0);
$chart-app-background: #29466d;
$chart-border-color: rgba(0, 0, 0, 0.267);
$wrapper-box-shadow: rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
$dark-grey: rgba(39, 41, 50, 0.8);
$disabled: rgb(59, 107, 174);
$disabled-text: #a2acb6;
//modal-wrapper
$table-border-bottom: rgba(123,160,189,.2);
$bck-color: rgba(123,160,189, 0.6);
$arrow-def-color: #6c757d;
$arrow-active-color: #2196f3;
$th-hover-color: #495057;
$bck-modal-color-darken: rgba(231,236,239,.2);

